# Flutter/Dart specific
.dart_tool/
.packages
.pub/
build/

# Android specific
/android/
/app/android/key.properties
/app/build/

# iOS specific
/ios/
/app/ios/Podfile.lock
/app/ios/Pods/

# Visual Studio Code specific
.vscode/
